 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow, noai, noimageai">        
        <meta property="og:type" content="website">
        <meta property="og:title" content="nulsie&#39;s instance - GoToSocial">
        <meta property="og:url" content="crt.xubi.org">
        <meta property="og:site_name" content="crt.xubi.org">
        <meta property="og:description" content="A instance I(nulsie) made for my personal Fediverse posting :)">
        <meta name="description" content="A instance I(nulsie) made for my personal Fediverse posting :)">
        <meta property="og:image" content="https://crt.xubi.org/fileserver/01SDZZNYW3EBMZDGSCAVKKB4Z8/attachment/original/01KW7RY30ZWNJB3Q8NB9N1KPYD.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:alt" content="a pixelated drawing which says the name CRT Xubi with stars around it">
        <meta name="twitter:card" content="summary">
        <link rel="icon" href="https://crt.xubi.org/fileserver/01SDZZNYW3EBMZDGSCAVKKB4Z8/attachment/original/01KW7RY30ZWNJB3Q8NB9N1KPYD.png" type="image/png">
        <link rel="apple-touch-icon" href="https://crt.xubi.org/fileserver/01SDZZNYW3EBMZDGSCAVKKB4Z8/attachment/original/01KW7RY30ZWNJB3Q8NB9N1KPYD.png" type="image/png">
        <link rel="apple-touch-startup-image" href="https://crt.xubi.org/fileserver/01SDZZNYW3EBMZDGSCAVKKB4Z8/attachment/original/01KW7RY30ZWNJB3Q8NB9N1KPYD.png" type="image/png">        
      
        <title>nulsie&#39;s instance - GoToSocial</title>
    </head>
    <body class="page index-page">            
            
        <header class="page-header">            
            <a aria-label="nulsie&#39;s instance. Go to instance homepage" href="/" class="nounderline">
                <picture>
                    <source
                        srcset="https://crt.xubi.org/fileserver/01SDZZNYW3EBMZDGSCAVKKB4Z8/attachment/small/01KW7RY30ZWNJB3Q8NB9N1KPYD.webp"
                        type="image/webp"
                        media="(prefers-reduced-motion: reduce)"
                    />
                    <img
                        src="https://crt.xubi.org/fileserver/01SDZZNYW3EBMZDGSCAVKKB4Z8/attachment/original/01KW7RY30ZWNJB3Q8NB9N1KPYD.png"
                        alt="a pixelated drawing which says the name CRT Xubi with stars around it"
                        title="a pixelated drawing which says the name CRT Xubi with stars around it"
                    />
                </picture>
                <h1>nulsie&#39;s instance</h1>
            </a>
            <aside>home to <span class="count">1</span> user who has written <span class="count">1</span> post; peered with <span class="count">15</span> other instances</aside>
            
        </header>
        <div class="page-content">            
            <main class="about">
                <section class="about-section about-this-instance" role="region" aria-labelledby="about">
                    <h3 id="about">About this instance</h3>
                    <div class="about-section-contents">            
                        <p>A instance I(nulsie) made for my personal Fediverse posting :)</p>
                        <nav>
                            <ul>
                                <li><a href="/about">See more details</a></li>
                                <li><a href="/directory">Accounts on this instance</a></li>
                            </ul>
                        </nav>
                    </div>
                </section>    
                <section role="region" class="about-section what-is-this" aria-labelledby="what-is-this">
                    <h3 id="what-is-this">What is this?</h3>
                    <div class="about-section-contents">
                        <p>
                            The web page you're reading right now is served by an instance of GoToSocial,
                            a federated, distributed, open-source microblogging software which connects
                            to other instances across a network known as the "fediverse".
                        </p>
                        <h4 id="what-is-an-instance">What is an "instance"?</h4>
                        <p>
                            "Instance" is a term commonly used for one node in the fediverse. Each instance
                            has its own web address, user(s), culture, rules, and settings. Instances exchange
                            data by "talking" to each other over the internet using a protocol called ActivityPub.
                        </p>
                        <a
                            class="activitypub-logo-wrapper"
                            href="https://activitypub.rocks/"
                            rel="nofollow noreferrer noopener"
                            target="_blank"
                        >
                            <img
                                class="activitypub-logo"
                                src="/assets/activitypub_light.svg"
                                alt="ActivityPub logo by mray, CC0 1.0"
                                title="ActivityPub logo by mray, CC0 1.0"
                                width="250"
                                height="65"
                            />
                            Learn more about ActivityPub (opens in a new tab).
                        </a>
                        <p>
                            Each instance can, in theory, talk to each other instance, allowing people to talk
                            to one another across a decentralized network that has no single authority in charge.
                        </p>
                        <p>
                            There are thousands of fediverse instances, connecting millions of people together.
                        </p>
                        <h4 id="how-do-i-join-the-fediverse">How do I join the fediverse?</h4>
                        <p>
                            You can join the fediverse by running your own instance of an ActivityPub software,
                            or by finding an existing instance that aligns with your values and expectations,
                            and registering an account.
                        </p>
                        <p>
                            To help you find an instance that suits you, you can try one of the following tools (all links open in a new tab):
                        </p>
                        <ul>
                            <li>GoToSocial-specific: <a href="https://thefedi.wiki/gotosocial/user/gotosocial-servers" rel="nofollow noreferrer noopener" target="_blank">thefedi.wiki list of open registration GoToSocial servers</a></li>
                            <li>Mastodon-specific: <a href="https://joinmastodon.org/servers" rel="nofollow noreferrer noopener" target="_blank">joinmastodon.org server picker</a></li>
                            <li>Various fedi tools: <a href="https://fedi.garden/" rel="nofollow noreferrer noopener" target="_blank">fedi.garden server picker</a></li>
                        </ul>
                    </div>
                </section>    
                <section class="about-section register-an-account" role="region" aria-labelledby="signup">
                    <h3 id="signup">Register an Account on nulsie&#39;s instance</h3>
                    <div class="about-section-contents">
                        <p>New account registration is currently&nbsp;<b>closed</b>.</p>
                    </div>
                </section>
            </main>
        </div>
        <footer class="page-footer">            
            <nav>
                <ul class="nodot">
                    <li id="about">
                        <a
                            href="/about"
                            class="nounderline"
                        >
                            About nulsie&#39;s instance
                        </a>
                    </li>
                   
                    <li id="version">
                        <a
                            href="https://codeberg.org/superseriousbusiness/gotosocial"
                            class="nounderline"
                            rel="nofollow noreferrer noopener"
                            target="_blank"
                        >
                            <span aria-hidden="true">powered by <a href="https://codeberg.org/superseriousbusiness/gotosocial"><span style="color: #EF4A24;">Go</span><span style="color: #ffd700;">To</span><span style="color: #82b440;">So</span><span style="color: #28a9e2;">ci</span><span style="color: #6856a9;">al !</span></a></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
